*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading{
    text-decoration: underline;
    color: darkmagenta;
}
.table_code h2{
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    text-decoration: underline;
}
#table{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    
}
td,th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}